[submodule "thirdparty/gsl"]
  path = thirdparty/gsl
  url = git@github.com:earaujoassis/gsl.git
  ignore = dirty
[submodule "thirdparty/proto"]
  path = thirdparty/proto
  url = git@github.com:earaujoassis/proto.git
  ignore = dirty
